.payLogoSlider {
  display: block;
  width: 100vw;
  height: 2vw;
  white-space: nowrap;
  margin-bottom: 150px;
  overflow: hidden;
  img {
    animation: slider 16s linear infinite;
    padding: 0 1.8vw;
    height: 2vw;
  }
}

.mobilePayLogoSlider {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vw 100px 5vw;
  justify-content: space-between;
  img {
    width: 150px;
    margin: 20px 0;
  }
}

@keyframes slider {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-101vw);
  }
}
