#payLogoSlider {
  display: block;
  width: 100vw;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 200px;
  img {
    animation: slider 9s linear infinite;
    padding: 0 25px;
  }
}

@keyframes slider {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-96vw);
  }
}
