#searchContainer {
  position: absolute;
  width: 100%;
  #searchStore {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    height: 50px;
    padding-left: 44px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    background: white;
  }
}
section {
  position: absolute;
  top: 114px;
  left: 20px;
  // width: 352px;
  width: 80%;
  margin-left: 5%;
  #searchCategoryContainer {
    height: 34px;
    background: none;
    overflow-x: scroll;
    white-space: nowrap;
    background: none;
  }
}
