@import '../utils.scss';

@include desktop {
  #searchContainer {
    position: relative;
    width: 80%;
    #searchIcon {
      width: 18px;
      height: 18px;
      position: absolute;
      left: 18px;
      top: 64%;
    }
    #searchStore {
      border: 2px solid #4e77fb;
      padding-top: 3px;
      width: 100%;
      margin-top: 44px;
      height: 50px;
      padding-left: 44px;
      border-radius: 12px;
      box-shadow: 0px 0px 12px rgba(78, 119, 251, 0.4);
      background: white;
      font-size: 17px;
      &::placeholder {
        font-size: 17px;
      }
    }
  }
}
