@import '../../utils';

@include desktop {
  #appSideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
    width: 25vw;
    background: white;
    #searchCategoryContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      padding-top: 1.5vh;
      #seeMoreImg {
        height: 5px;
      }
    }
    #aroundMyLocation {
      font-size: 20px;
      font-size: 1.04vw;
      padding: 40px 0 20px 0;
      width: 80%;
    }
    #filterContainer {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      .filter {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #dbdee8;
        width: 106px;
        height: 36px;
        line-height: 36px;
        border-radius: 20px;
        margin: 0 4px 8px 0;
        div {
          font-size: 15px;
          color: #333333;
          padding-right: 3px;
          .vButtonFilter {
            width: 15px;
            padding-left: 3px;
            padding-bottom: 2px;
          }
        }
      }
    }
    #storeContainer {
      border-top: 1px solid #dbdee8;
      width: 100%;
      height: 100%;
      margin-top: 24px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: block;
        width: 8px;
        height: 100%;
      }
      &::-webkit-scrollbar-thumb {
        background: #4e77fb;
        border-radius: 100px;
        height: 180px;
      }
      &::-webkit-scrollbar-track {
        background: rgba(219, 222, 232, 0.4);
      }
    }
  }
}
