@import '../../utils';

.noShowSide {
  display: none !important;
}
#noShow,
.noShow {
  display: none;
}

@include mobile {
  #appSideMenu {
    @include flex-column;
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    width: 100vw;
    z-index: 100;
    #showBtn {
      @include flex-row-pos(center, center);
      @include width-height(11.2rem, 4rem);
      position: fixed;
      bottom: 28px;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      background: $mainColor;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 1000px;
      img {
        width: 2.1rem;
        margin-right: 0.7rem;
      }
      p {
        @include textStyle(1.5rem, 400, white, 2.1rem);
        margin-top: 0.2rem;
      }
    }
    #mobileFilterTypeContainer {
      @include flex-row;
      background: white;
      width: 100vw;
      padding-left: 2rem;
      padding-bottom: 1.6rem;
    }
  }
  #locationFilter {
    @include flex-column-pos('', center);
    text-align: center;
    #filterTypeContainer {
      @include flex-row;
      @include textStyle(1.4rem, 400, #212121, 1.8rem);
      background: white;
      margin-top: 1.6rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 100px;
    }

    #showFilterTypeContainer {
      @include width-height(4rem, 4rem);
      position: relative;
      margin: 1.6rem 0 0 80vw;
      border: none;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
      #filterCnt {
        @include width-height(1.3rem, 1.3rem);
        line-height: 1.3rem;
        background: red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        p {
          @include textStyle(0.9rem, 400, #ffffff, 1.3rem);
          margin-left: 0.5px;
          color: white;
        }
      }
      img {
        width: 2.4rem;
        margin-top: 0.4rem;
      }
    }
  }
  #storeContainer {
    flex: 1;
    background: white;
    border-top: 1px solid #dbdee8;
    width: 100vw;
    height: calc(100vh - 22.8rem);
    overflow-y: scroll;
  }
}

@include tablet {
  #appSideMenu {
    @include flex-column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    background: white;
    z-index: 100;
    #showBtn {
      @include flex-row-pos('', flex-end);
      position: absolute;
      top: calc(100vh - 108px);
      left: 50%;
      transform: translateX(-50%);
      border: none;
      background: $mainColor;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 1000px;
      padding: 1rem 1.6rem;
      img {
        width: 2.1rem;
        margin-right: 0.2rem;
      }
      p {
        @include textStyle(1.5rem, 400, #ffffff, 2.1rem);
        margin-left: 0.7rem;
      }
    }
  }
  #locationFilter {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    #filterTypeContainer {
      @include textStyle(1.5rem, 400, #212121, 2rem);
      float: right;
      padding: 1.2rem 2.4rem 0 2.4rem;
    }
  }
  #storeContainer {
    border-top: 1px solid #dbdee8;
    height: calc(100vh - 204px);
    overflow-y: scroll;
  }
}

@include desktop {
  #appSideMenu {
    @include flex-column;
    height: calc(100vh - 60px);
    width: 47rem;
    width: 25vw;
    background: white;
    #locationFilter {
      @include flex-column;
      #filterTypeContainer {
        @include flex-row;
        margin-left: 4rem;
      }
    }
    #storeContainer {
      border-top: 1px solid #dbdee8;
      width: 100%;
      height: 100%;
      margin-top: 3.2rem;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: block;
        width: 8px;
        height: 100%;
      }
      &::-webkit-scrollbar-thumb {
        background: #4e77fb;
        border-radius: 100px;
        height: 180px;
      }
      &::-webkit-scrollbar-track {
        background: rgba(219, 222, 232, 0.4);
      }
    }
    #showBtn {
      display: none;
    }
  }
}
