@import '../../utils';

@include desktop {
  #appSideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 60px;
    height: calc(100vh - 60px);
    width: 25vw;
    background: white;
    #searchCategoryContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      padding-top: 1.5vh;
      #seeMoreImg {
        height: 5px;
      }
    }
    #aroundMyLocation {
      font-size: 20px;
      font-size: 1.04vw;
      padding: 40px 0 20px 0;
      width: 80%;
    }
    #filterContainer {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      .filter {
        border: 1px solid #dbdee8;
        padding: 0.4vw 0.7vw 0.3vw 0.7vw;
        border-radius: 20px;
        margin: 0 4px 8px 0;
        div {
          font-size: 0.79vw;
          color: #333333;
          .vButtonFilter {
            padding: 0 0 0.1vw 0.2vw;
            width: 0.75vw;
          }
          #filterSeeMore {
            margin-bottom: 0.15vw;
          }
        }
      }
    }
    #storeContainer {
      border-top: 1px solid #dbdee8;
      width: 100%;
      height: 70%;
      margin-top: 24px;
      overflow-y: scroll;
    }
  }
}
