@import '../../utils';

@include mobile {
  .feedbackContainer {
    @include flex-column-pos(space-between, '');
    border-bottom: 1px solid lightgray;
    padding: 1.6rem 0 1.6rem 0;
    height: 16rem;
    .fbTitle {
      @include flex-row-pos('', center);
      @include textStyle(1.5rem, 400, #4d4d4d, 2rem);
      img {
        @include width-height(3.8rem, 3.8rem);
        margin-right: 1.2rem;
      }
    }
    .fbExist {
      @include flex-row-pos('', baseline);
      .fbBoolean {
        @include textStyle(1.4rem, 400, #9e9e9e, 2rem);
        margin-right: 0.8rem;
      }
      .T {
        color: #4e77fb;
      }
      .fbDate {
        @include textStyle(1.2rem, 400, #9e9e9e, 1.6rem);
      }
    }
    progress {
      appearance: none;
      width: 100%;
      height: 12px;
      padding: 0;
      margin: 0;
      border-radius: 99px;
    }
    progress::-webkit-progress-bar {
      background: #e6e6e6;
      border-radius: 99px;
    }
    progress::-webkit-progress-value {
      background: $mainColor;
      border-radius: 99px;
    }
    .fbPercent {
      @include flex-row-pos('', space-between);
      @include textStyle(1.3rem, 400, $subTextColor, 1.7rem);
    }
  }
}

@include tablet {
  .feedbackContainer {
    @include flex-column-pos(space-between, '');
    border-bottom: 1px solid lightgray;
    padding: 1.6rem 0 1.6rem 0;
    height: 16rem;
    // &:last-of-type {
    //   margin-bottom: 56px;
    // }
    .fbTitle {
      @include flex-row-pos('', center);
      @include textStyle(1.5rem, 400, #4d4d4d, 2rem);
      img {
        @include width-height(3.8rem, 3.8rem);
        margin-right: 1.2rem;
      }
    }
    .fbExist {
      @include flex-row-pos('', baseline);
      .fbBoolean {
        @include textStyle(1.4rem, 400, #9e9e9e, 2rem);
        margin-right: 0.8rem;
      }
      .T {
        color: $mainColor;
      }
      .fbDate {
        @include textStyle(1.2rem, 400, #9e9e9e, 1.6rem);
      }
    }
    progress {
      appearance: none;
      width: 100%;
      height: 12px;
      padding: 0;
      margin: 0;
      border-radius: 99px;
    }
    progress::-webkit-progress-bar {
      background: #e6e6e6;
      border-radius: 99px;
    }
    progress::-webkit-progress-value {
      background: $mainColor;
      border-radius: 99px;
    }
    .fbPercent {
      @include flex-row-pos(space-between, '');
      @include textStyle(1.3rem, 400, $subTextColor, 1.7rem);
    }
  }
}

@include desktop {
  .feedbackContainer {
    @include flex-column-pos(space-between, '');
    border-bottom: 1px solid lightgray;
    padding: 1.6rem 0;
    height: 16rem;
    &:last-of-type {
      margin-bottom: 56px;
    }
    .fbTitle {
      @include flex-row-pos('', center);
      @include textStyle(1.8rem, 400, #333333, 2.4rem);
      img {
        width: 3.8rem;
        margin-right: 1.2rem;
      }
    }
    .fbExist {
      @include flex-row-pos('', baseline);
      .fbBoolean {
        @include textStyle(1.6rem, 400, $subTextColor, 2.2rem);
        margin-right: 0.8rem;
      }
      .T {
        color: $mainColor;
      }
      .fbDate {
        @include textStyle(1.5rem, 400, #9e9e9e, 2rem);
      }
    }
    progress {
      appearance: none;
      width: 100%;
      height: 12px;
      padding: 0;
      margin: 0;
      border-radius: 100px;
    }
    progress::-webkit-progress-bar {
      background: #e6e6e6;
      border-radius: 100px;
    }
    progress::-webkit-progress-value {
      background: $mainColor;
      border-radius: 100px;
    }
    .fbPercent {
      @include flex-row-pos('', space-between);
      @include textStyle(1.5rem, 400, $subTextColor, 2rem);
    }
  }
}
