@import '../../utils';

.noShowFilter {
  display: none !important;
}

@include mobile {
  #filterContainer {
    z-index: 1000;
    position: absolute;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    background: white;
    #filterHeader {
      @include flex-row-pos(center, center);
      border-bottom: 1px solid rgba(219, 222, 232, 0.6);
      height: 56px;
      p {
        @include textStyle(1.7rem, 400, #212121, 2.4rem);
      }
      img {
        position: absolute;
        left: 2.4rem;
        width: 2rem;
      }
    }
    #addFilter {
      @include flex-column;
      height: calc(100vh - 172px);
      overflow-y: scroll;
      #paymentFilter {
        border-top: 1px solid rgba(219, 222, 232, 0.6);
        .kindOfPay {
          @include textStyle(1.5rem, 400, $subTextColor, 140%);
          padding: 2.4rem 0 1rem 0;
        }
      }
      #storeFilter,
      #paymentFilter {
        @include flex-column;
        margin: 2rem 2.4rem;
        .chooseTitle {
          display: flex;
          align-items: center;
          padding-bottom: 1.6rem;
          p {
            @include textStyle(1.6rem, 400, #333333, 2.1rem);
            padding-right: 0.5rem;
          }
          img {
            height: 2rem;
            margin-top: 0.1rem;
          }
        }
        .chooseFilter {
          @include flex-row;
          flex-wrap: wrap;
          .filter {
            @include textStyle(1.5rem, 400, #9e9e9e, 2rem);
          }
          .active {
            @include textStyle(1.5rem, 400, $mainColor, 2rem);
          }
        }
      }
    }
  }
  #applyFilter {
    @include textStyle(1.7rem, 400, #ffffff, 2.4rem);
    border: none;
    background: #4e77fb;
    bottom: 0;
    width: 100%;
    height: 56px;
  }
}

@include tablet {
  #filterContainer {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    background: white;
    #filterHeader {
      @include flex-row-pos(center, center);
      border-bottom: 1px solid rgba(219, 222, 232, 0.6);
      height: 60px;
      text-align: center;
      p {
        @include textStyle(2rem, 400, #212121, 135%);
      }
      img {
        position: absolute;
        left: 25px;
        width: 2.4rem;
      }
    }
    #addFilter {
      @include flex-column;
      #paymentFilter {
        border-top: 1px solid rgba(219, 222, 232, 0.6);
        .kindOfPay {
          @include textStyle(1.6rem, 400, $subTextColor, 140%);
          padding: 2.4rem 0 1rem 0;
        }
      }
      #storeFilter,
      #paymentFilter {
        @include flex-column;
        margin: 2rem 2.4rem;
        .chooseTitle {
          @include flex-row-pos('', center);
          margin-bottom: 1.7rem;
          p {
            @include textStyle(1.8rem, 400, #333333, 2.4rem);
            padding-right: 0.6rem;
          }
          img {
            margin-top: 0.4rem;
            height: 2.6rem;
          }
        }
        .chooseFilter {
          @include flex-row;
          flex-wrap: wrap;
          .filter {
            @include textStyle(1.5rem, 400, #9e9e9e, 2rem);
          }
          .active {
            @include textStyle(1.5rem, 400, $mainColor, 2rem);
          }
        }
      }
    }
  }
  #applyFilter {
    @include textStyle(1.7rem, 400, #ffffff, 2.4rem);
    border: none;
    background: #4e77fb;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px;
  }
}

@include desktop {
  #filterContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 25vw;
    background: white;
    #filterHeader {
      @include flex-row-pos(center, center);
      height: 60px;
      border-bottom: 1px solid rgba(219, 222, 232, 0.6);
      text-align: center;
      p {
        @include textStyle(2rem, 400, #212121, 2.8rem);
      }
      img {
        width: 2.3rem;
        position: absolute;
        left: 20px;
      }
    }
    #addFilter {
      @include flex-column;
      #paymentFilter {
        border-top: 1px solid rgba(219, 222, 232, 0.6);
        .kindOfPay {
          @include textStyle(1.6rem, 400, $subTextColor, 140%);
          padding: 2.4rem 0 1rem 0;
        }
      }
      #storeFilter,
      #paymentFilter {
        @include flex-column;
        margin: 2rem 2.4rem;
        .chooseTitle {
          @include flex-row-pos('', center);
          margin-bottom: 1.6rem;
          p {
            @include textStyle(1.8rem, 400, #333333, 2.4rem);
            padding-right: 0.6rem;
          }
          img {
            width: 2.4rem;
            margin-top: 0.5rem;
          }
        }
        .chooseFilter {
          @include flex-row;
          flex-wrap: wrap;
          .filter {
            @include textStyle(1.5rem, 400, #9e9e9e, 2rem);
          }
          .active {
            @include textStyle(1.5rem, 400, $mainColor, 2rem);
          }
        }
      }
    }
  }
  #applyFilter {
    @include textStyle(1.7rem, 400, #ffffff, 2.4rem);
    border: none;
    background: #4e77fb;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px;
  }
}
