@import '../../utils';

@include mobile {
  .filterType {
    padding-bottom: 1.6rem;
    &:first-child {
      padding: 0 0.4rem 0 2.4rem;
    }
    div {
      @include width-height(10.6rem, 3.6rem);
      @include flex-row-pos(center, center);
      border: 1px solid #dbdee8;
      border-radius: 1000px;
      p {
        @include textStyle(1.4rem, 400, #212121, 1.8rem);
      }
      img {
        @include width-height(2.2rem, 2.2rem);
        margin-top: 0.2rem;
      }
    }
    .choiceFilter {
      background: $mainColor;
      border: 1px solid rgba(78, 119, 251, 0.6);
      background: rgba(78, 119, 251, 0.06);
      border-radius: 20px;
      p {
        @include textStyle(1.4rem, 400, $mainColor, 1.8rem);
      }
      img {
        @include width-height(2rem, 2rem);
        margin-bottom: 0.2rem;
      }
    }
  }
}

@include tablet {
  .filterType {
    display: inline-block;
    div {
      @include flex-row-pos(center, center);
      @include width-height(10.6rem, 3.6rem);
      border: 1px solid #dbdee8;
      border-radius: 1000px;
      margin-left: 8px;
      p {
        @include textStyle(1.5rem, 400, #212121, 2rem);
      }
      img {
        margin-top: 0.2rem;
        width: 2.2rem;
      }
    }
    .choiceFilter {
      color: $mainColor;
      border: 1px solid rgba(78, 119, 251, 0.6);
      background: rgba(78, 119, 251, 0.06);
      border-radius: 20px;
      p {
        @include textStyle(1.5rem, 400, $mainColor, 2rem);
      }
      img {
        @include textStyle(1.5rem, 400, #212121, 2rem);
        @include width-height(2rem, 2rem);
        margin-bottom: 0.2rem;
      }
    }
  }
}

@include desktop {
  .filterType {
    div {
      @include flex-row-pos(center, center);
      @include width-height(10.6rem, 3.6rem);
      border: 1px solid #dbdee8;
      margin-right: 0.6rem;
      border-radius: 20px;
      color: #333333;
      .vButtonFilter {
        width: 1.8rem;
      }
      p {
        @include textStyle(1.5rem, 400, #212121, 2rem);
      }
    }
    .choiceFilter {
      color: $mainColor;
      border: 1px solid rgba(78, 119, 251, 0.6);
      background: rgba(78, 119, 251, 0.06);
      border-radius: 20px;
      p {
        @include textStyle(1.5rem, 400, $mainColor, 2rem);
      }
      img {
        @include textStyle(1.5rem, 400, #212121, 2rem);
        @include width-height(1.8rem, 1.8rem);
        margin-bottom: 0.1rem;
      }
    }
  }
}
