@import '../../utils';

@include mobile {
  .filterType {
    &:first-of-type {
      padding-right: 10px;
    }
    div {
      display: flex;
      align-items: flex-end;
      border: 1px solid #dbdee8;
      border-radius: 1000px;
      padding: 8px 16px;
      p {
        display: inline-block;
        margin-right: 2px;
      }
      img {
        margin-left: 2px;
        width: 22px;
      }
    }
    .choiceFilter {
      color: $mainColor;
      border: 1px solid rgba(78, 119, 251, 0.6);
      background: rgba(78, 119, 251, 0.06);
      border-radius: 20px;
    }
  }
}

@include tablet {
  .filterType {
    display: inline-block;
    div {
      display: flex;
      align-items: flex-end;
      border: 1px solid #dbdee8;
      border-radius: 1000px;
      padding: 8px 16px;
      margin-left: 8px;
      p {
        display: inline-block;
        margin-right: 2px;
      }
      img {
        margin-left: 2px;
        width: 22px;
      }
    }
    .choiceFilter {
      color: $mainColor;
      border: 1px solid rgba(78, 119, 251, 0.6);
      background: rgba(78, 119, 251, 0.06);
      border-radius: 20px;
    }
  }
}

@include desktop {
  .filterType {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    border: 1px solid #dbdee8;
    border-radius: 20px;
    div {
      padding: 0.42vw 0.22vw 0.42vw 0.84vw;
      display: flex;
      align-items: center;
      font-size: 0.78vw;
      color: #333333;
      .vButtonFilter {
        width: 13px;
        margin: 0.18vw 0.68vw 0 0.34vw;
      }
      p {
      }
      .resetFilter {
        margin: 0 0.6vw 0 0.18vw;
        width: 1vw;
      }
    }
    .choiceFilter {
      color: $mainColor;
      border: 1px solid rgba(78, 119, 251, 0.6);
      background: rgba(78, 119, 251, 0.06);
      border-radius: 20px;
    }
  }
}
