@import '../../utils';

@include mobile {
  #modifyInfo {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: white;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    #modifyHeader {
      @include textStyle(1.7rem, 400, #212121, 2.4rem);
      text-align: center;
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid rgba(219, 222, 232, 0.6);
      img {
        width: 2rem;
        margin-top: 0.2rem;
        position: absolute;
        left: 20px;
        top: 16px;
      }
    }
    .inputTitle {
      margin-left: 2.4rem;
      font-size: 17px;
      font-weight: 400;
      margin: 2rem 0 1.6rem 2.4rem;
    }
    .inputContent {
      @include textStyle(1.5rem, 400, #9e9e9e, 160%);
      resize: none;
      padding: 1.3rem;
      margin: 0 2.4rem;
      border: 1px solid #dbdee8;
      border-radius: 8px;
      &:focus {
        outline: 1px solid $mainColor;
      }
    }
    #modifyContent {
      height: 26rem;
    }
    #checkContainer {
      position: absolute;
      bottom: 86px;
      display: flex;
      align-items: center;
      margin: 0 2.4rem;
      width: calc(100vw - 48px);
      img {
        width: 2.4rem;
        margin-right: 1.2rem;
        flex-grow: 0;
      }
      p {
        @include textStyle(1.5rem, 400, $mainColor, 2rem);
      }
      h4 {
        @include textStyle(1.5rem, 400, $subTextColor, 2rem);
        flex-grow: 1;
      }
      #view {
        @include textStyle(1.5rem, 400, #cccccc, 2rem);
        flex-grow: 0;
        display: inline-block;
        text-decoration: underline 2px;
        text-align: right;
      }
    }
    #reqBtn {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 56px;
      border: none;
      left: 0;
      color: #b8bdcc;
    }
    .checkFlag {
      background: $mainColor;
      color: white !important;
      cursor: pointer;
    }
  }
}

@include tablet {
  #modifyInfo {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: white;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    #modifyHeader {
      @include textStyle(2rem, 400, #212121, 2.8rem);
      text-align: center;
      height: 60px;
      padding: 1.6rem 0;
      border-bottom: 1px solid rgba(219, 222, 232, 0.6);
      img {
        width: 2.4rem;
        margin-top: 0.2rem;
        position: absolute;
        left: 20px;
        top: 16px;
      }
    }
    .inputTitle {
      @include textStyle(1.8rem, 400, #333333, 140%);
      margin: 2rem 0 1.2rem 2.4rem;
    }
    .inputContent {
      @include textStyle(1.6rem, 400, #9e9e9e, 160%);
      resize: none;
      padding: 1.5rem;
      margin: 0 2.4rem;
      border: 1px solid #dbdee8;
      border-radius: 8px;
      &:focus {
        outline: 1px solid $mainColor;
      }
    }
    #modifyContent {
      height: 26rem;
    }
    #checkContainer {
      position: absolute;
      bottom: 86px;
      display: flex;
      align-items: center;
      margin: 0 2.4rem;
      width: calc(100vw - 48px);
      img {
        width: 2.4rem;
        margin-right: 1.2rem;
        flex-grow: 0;
      }
      p {
        @include textStyle(1.6rem, 400, $mainColor, 2.1rem);
      }
      h4 {
        @include textStyle(1.6rem, 400, $subTextColor, 2.1rem);
        flex-grow: 1;
      }
      #view {
        @include textStyle(1.6rem, 400, #cccccc, 2.1rem);
        flex-grow: 0;
        display: inline-block;
        text-decoration: underline 2px;
        text-align: right;
      }
    }
    #reqBtn {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 56px;
      border: none;
      left: 0;
      color: #b8bdcc;
    }
    .checkFlag {
      background: $mainColor;
      color: white !important;
      cursor: pointer;
    }
  }
}

@include desktop {
  #modifyInfo {
    @include flex-column;
    position: relative;
    width: 24.5vw;
    height: 100%;
    border-radius: 12px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    #modifyHeader {
      @include flex-row-pos(space-between, center);
      @include textStyle(2rem, 400, #212121, 2.8rem);
      padding: 0 2.4rem;
      text-align: center;
      height: 60px;
      border-bottom: 1px solid rgba(219, 222, 232, 0.6);
      img {
        width: 2.4rem;
      }
    }
    .inputTitle {
      @include textStyle(1.8rem, 400, #333333, 140%);
      margin: 2rem 0 1.2rem 2.4rem;
    }
    .inputContent {
      @include textStyle(1.6rem, 400, #9e9e9e, 160%);
      resize: none;
      padding: 1.5rem;
      margin: 0 2.4rem;
      border: 1px solid #dbdee8;
      border-radius: 8px;
      &:focus {
        outline: 1px solid $mainColor;
      }
    }
    #modifyContent {
      height: 26rem;
    }
    #checkContainer {
      @include flex-row-pos('', flex-end);
      display: flex;
      flex: 1;
      margin: 0 2.4rem 8rem 2.4rem;
      img {
        width: 2.4rem;
        margin-right: 1.2rem;
      }
      p {
        @include textStyle(1.6rem, 400, $mainColor, 2.1rem);
      }
      h4 {
        @include textStyle(1.6rem, 400, $subTextColor, 2.1rem);
      }
      #view {
        @include textStyle(1.6rem, 400, #cccccc, 2.1rem);
        text-decoration: underline 2px;
        position: absolute;
        right: 2.4rem;
        cursor: pointer;
      }
    }
    #reqBtn {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 56px;
      border: none;
      left: 0;
      border-radius: 0 0 12px 12px;
      color: #b8bdcc;
    }
    .checkFlag {
      background: $mainColor;
      color: white !important;
      cursor: pointer;
    }
  }
}
