@import '../../utils';

@include mobile {
  #search {
    background: white;
    #searchContainer {
      @include flex-row;
      @include width-height(32.7rem, 5.2rem);
      border: 2px solid #4e77fb;
      box-shadow: 0px 0px 12px rgba(78, 119, 251, 0.4);
      border-radius: 12px;
      position: relative;
      margin: 0.8rem 0 0.8rem 5vw;
      #searchIcon {
        position: absolute;
        left: 1.4rem;
        top: 50%;
        transform: translateY(-50%);
      }
      #searchStore {
        @include textStyle(1.7rem, 400, black, 2.2rem);
        border: none;
        width: 100%;
        height: 100%;
        margin: 0 4.4rem;
        padding-top: 0.2rem;
        background: white;
        &::placeholder {
          @include textStyle(1.7rem, 400, #707070, 2.2rem);
        }
        &:focus {
          outline: none;
        }
      }
      #resetSearch {
        position: absolute;
        right: 1.4rem;
        top: 50%;
        transform: translateY(-50%);
      }
      #showBtn {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@include tablet {
  #search {
    margin-top: 0.4rem;
    #searchContainer {
      @include flex-row;
      border: 2px solid #4e77fb;
      box-shadow: 0px 0px 12px rgba(78, 119, 251, 0.4);
      border-radius: 12px;
      position: relative;
      @include width-height(72rem, 5.2rem);
      margin: 0.8rem 0 0.8rem 2.4rem;
      #searchIcon {
        position: absolute;
        left: 1.8rem;
        top: 50%;
        transform: translateY(-50%);
      }
      #searchStore {
        border: none;
        width: 100%;
        height: 100%;
        margin: 0 4.4rem;
        background: white;
        @include textStyle(1.7rem, 400, #212121, 2.2rem);
        &::placeholder {
          @include textStyle(1.7rem, 400, $subTextColor, 2.2rem);
        }
        &:focus {
          outline: none;
        }
      }
      #resetSearch {
        position: absolute;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
      }
      #showBtn {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@include desktop {
  #searchContainer {
    @include flex-row;
    border: 2px solid #4e77fb;
    box-shadow: 0px 0px 12px rgba(78, 119, 251, 0.4);
    border-radius: 12px;
    position: relative;
    margin: 4rem 4rem 0 4rem;
    #searchIcon {
      position: absolute;
      @include width-height(1.8rem, 1.8rem);
      left: 1.9rem;
      top: 50%;
      transform: translateY(-50%);
    }
    #searchStore {
      border: none;
      width: calc(100% - 5.4rem);
      height: 5.2rem;
      margin-left: 4.8rem;
      padding-top: 0.3rem;
      background: white;
      @include textStyle(1.7rem, 400, black, 2.2rem);
      &::placeholder {
        @include textStyle(1.7rem, 400, $subTextColor, 2.2rem);
      }
      &:focus {
        outline: none;
      }
    }
    #resetSearch {
      @include width-height(2.4rem, 2.4rem);
      position: absolute;
      right: 1.6rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
