@import '../../utils';

@include mobile {
  #search {
    background: white;
    #searchContainer {
      border: 2px solid #4e77fb;
      box-shadow: 0px 0px 12px rgba(78, 119, 251, 0.4);
      border-radius: 12px;
      display: flex;
      position: relative;
      width: 90%;
      margin: 8px 0 8px 5vw;
      #searchIcon {
        position: absolute;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
      }
      #searchStore {
        border: none;
        margin: 1px 0;
        width: 100%;
        height: 50px;
        margin-left: 44px;
        margin-right: 44px;
        background: white;
        font-size: 17px;
        &::placeholder {
          font-size: 17px;
        }
        &:focus {
          outline: none;
        }
      }
      #resetSearch {
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
      }
      #showBtn {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@include tablet {
  #search {
    margin-top: 4px;
    #searchContainer {
      border: 2px solid #4e77fb;
      box-shadow: 0px 0px 12px rgba(78, 119, 251, 0.4);
      border-radius: 12px;
      display: flex;
      position: relative;
      width: calc(100% - 48px);
      margin: 8px 0 8px 24px;
      #searchIcon {
        position: absolute;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
      }
      #searchStore {
        border: none;
        margin: 1px 0;
        width: 100%;
        height: 50px;
        margin-left: 44px;
        margin-right: 44px;
        background: white;
        font-size: 17px;
        &::placeholder {
          font-size: 17px;
        }
        &:focus {
          outline: none;
        }
      }
      #resetSearch {
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
      }
      #showBtn {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@include desktop {
  #searchContainer {
    border: 2px solid #4e77fb;
    box-shadow: 0px 0px 12px rgba(78, 119, 251, 0.4);
    border-radius: 12px;
    display: flex;
    position: relative;
    margin: 2.08vw 2.08vw 0 2.08vw;
    #searchIcon {
      position: absolute;
      width: 0.92vw;
      left: 0.76vw;
      top: 50%;
      transform: translateY(-50%);
    }
    #searchStore {
      border: none;
      margin: 1px 0;
      width: calc(100% - 4.16vw);
      height: 2.55vw;
      margin-left: 2.08vw;
      padding-top: 0.18vw;
      background: white;
      font-size: 0.88vw;
      &::placeholder {
        font-size: 0.88vw;
      }
      &:focus {
        outline: none;
      }
    }
    #resetSearch {
      position: absolute;
      right: 0.76vw;
      top: 50%;
      transform: translateY(-50%);
      width: 1.28vw;
    }
  }
}
