@import '../../utils';

#detailContainer {
  &::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 100%;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: #b8bdcc;
    border-radius: 0 100px 100px 0;
  }
  &::-webkit-scrollbar-track {
    background: rgba(219, 222, 232, 0.4);
  }
}

@include mobile {
  #detailContainer {
    @include width-height(100vw, 74rem);
    @include flex-column;
    position: absolute;
    bottom: 56px;
    background: white;
    padding-top: 2rem;
    #detailInfo {
      border-bottom: 8px solid #dbdee866;
      padding: 0 2.4rem;
      #nameCategoryClose {
        @include flex-row-pos(space-between, center);
        #nameCategory {
          @include flex-row-pos('', baseline);
          #detailStoreName {
            @include textStyle(1.8rem, 400, #333333, 2.5rem);
            padding-right: 0.8rem;
          }
          #detailStoreCategory {
            @include textStyle(1.4rem, 400, #9e9e9e, 1.8rem);
          }
        }
        img {
          cursor: pointer;
        }
      }
      #detailBtnContainer {
        @include width-height(100%, 5.2rem);
        @include flex-row-pos(center, center);
        border: 1px solid #4e77fb;
        background: white;
        border-radius: 10px;
        margin: 3.2rem 0 2.4rem 0;
        cursor: pointer;
        &:first-child {
          border-right: 1px solid #4e77fb;
        }
        #naviImg {
          height: 2.4rem;
          margin-bottom: 0.1rem;
        }
        p {
          @include textStyle(1.6rem, 400, $mainColor, 2.1rem);
          margin-left: 0.6rem;
        }
      }
      hr {
        border: 1px solid rgba(219, 222, 232, 0.6);
        margin-top: 2rem;
      }
      #distanceAddress,
      #phoneNumber,
      #infoModified {
        @include flex-row-pos('', center);
        @include textStyle(1.4rem, 400, $subTextColor, 1.8rem);
        img {
          margin-right: 1rem;
          height: 1.6rem;
        }
      }
      #distanceAddress {
        margin-bottom: 1.8rem;
      }
      #infoModified {
        padding: 1.8rem 0;
        cursor: pointer;
      }
    }
    #paymentMethod {
      overflow-y: scroll;
      padding: 2rem 2.4rem;
      h4 {
        @include textStyle(1.7rem, 400, #333333, 2.4rem);
      }
    }
    #goApp {
      @include textStyle(1.7rem, 400, #ffffff, 2.4rem);
      position: fixed;
      bottom: 0px;
      width: 100vw;
      height: 56px;
      background: $mainColor;
      border: none;
      cursor: pointer;
    }
  }
}

@include tablet {
  #detailContainer {
    @include width-height(100vw, 71rem);
    position: absolute;
    bottom: 56px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    #detailInfo {
      border-bottom: 8px solid #dbdee866;
      padding: 2rem 2.4rem;
      #nameCategoryClose {
        @include flex-row-pos(space-between, center);
        #nameCategory {
          @include flex-row-pos('', baseline);
          #detailStoreName {
            @include textStyle(2.2rem, 400, #212121, 3.1rem);
            margin-right: 0.8rem;
          }
          #detailStoreCategory {
            @include textStyle(1.6rem, 400, #9e9e9e, 2.1rem);
          }
        }
        img {
          cursor: pointer;
        }
      }
      #detailBtnContainer {
        @include flex-row-pos(center, center);
        @include width-height(100%, 5.2rem);
        border: 1px solid #4e77fb;
        color: #4e77fb;
        border-radius: 10px;
        margin: 3.2rem 0 2.4rem 0;
        background: none;
        cursor: pointer;
        #naviImg {
          @include width-height(2.4rem, 2.4rem);
          margin-bottom: 0.1rem;
        }
        p {
          @include textStyle(1.7rem, 400, $mainColor, 2.2rem);
          margin-left: 0.6rem;
        }
      }
      hr {
        background: rgba(219, 222, 232, 0.6);
        margin-top: 2rem;
      }
      #distanceAddress,
      #phoneNumber,
      #infoModified {
        @include flex-row-pos('', center);
        @include textStyle(1.6rem, 400, #707070, 2.1rem);
        img {
          height: 1.7rem;
          padding-right: 1rem;
        }
      }
      #distanceAddress {
        margin-bottom: 1.7rem;
      }
      #infoModified {
        cursor: pointer;
        padding-top: 2rem;
      }
    }
    #paymentMethod {
      overflow-y: scroll;
      padding: 2rem 2.4rem;
      h4 {
        @include textStyle(2rem, 400, #333333, 2.8rem);
      }
    }
    #goApp {
      @include textStyle(1.7rem, 400, #ffffff, 2.4rem);
      position: fixed;
      bottom: 0px;
      width: 100vw;
      height: 56px;
      background: $mainColor;
      border: none;
      cursor: pointer;
    }
  }
}

@include desktop {
  #detailContainer {
    @include flex-column;
    overflow-y: scroll;
    background: white;
    height: 100%;
    padding: 2rem 0;
    border-radius: 12px;
    #detailInfo {
      border-bottom: 8px solid #dbdee866;
      padding: 0 2rem;
      #nameCategoryClose {
        @include flex-row-pos(space-between, center);
        #nameCategory {
          @include flex-row-pos('', baseline);
          #detailStoreName {
            @include textStyle(2.2rem, 400, #212121, 3.1rem);
            margin-right: 0.8rem;
          }
          #detailStoreCategory {
            @include textStyle(1.6rem, 400, #9e9e9e, 2.1rem);
          }
        }
        img {
          cursor: pointer;
        }
      }
      #detailBtnContainer {
        @include flex-row-pos(center, center);
        @include width-height(100%, 5.2rem);
        border: 1px solid #4e77fb;
        border-radius: 10px;
        margin: 3.3rem 0 2.4rem 0;
        background: white;
        cursor: pointer;
        #naviImg {
          width: 2.5rem;
          margin-right: 1rem;
        }
        p {
          @include textStyle(1.7rem, 400, $mainColor, 2.2rem);
          margin-top: 0.1rem;
        }
      }

      hr {
        background: rgba(219, 222, 232, 0.6);
        margin-top: 2.4rem;
      }
      #distanceAddress,
      #phoneNumber,
      #infoModified {
        @include flex-row-pos('', center);
        @include textStyle(1.6rem, 400, $subTextColor, 2.1rem);
        cursor: pointer;
        img {
          width: 1.4rem;
          margin-right: 1.2rem;
        }
      }
      #distanceAddress {
        margin-bottom: 1.5rem;
      }
      #infoModified {
        padding: 1.7rem 0 2.2rem 0;
      }
    }
    #paymentMethod {
      padding: 2rem;
      h4 {
        @include textStyle(2rem, 400, #333333, 2.8rem);
      }
    }
    #goApp {
      @include textStyle(1.7rem, 400, #ffffff, 2.4rem);
      position: fixed;
      bottom: 20px;
      width: 24.5vw;
      height: 56px;
      background: $mainColor;
      border: none;
      border-radius: 0 0 12px 12px;
      cursor: pointer;
    }
  }
}
