@import '../../utils';

@include mobile {
  .storeArticle {
    border-bottom: 1px solid rgba(219, 222, 232, 0.6);
    padding: 20px;
    &:hover {
      background: #f5f7ff;
    }
    .storeLine1 {
      display: flex;
      align-items: flex-end;
      .storeName {
        font-size: 18px;
        font-weight: 400;
        padding-right: 6px;
      }
      .storeCategory {
        font-size: 15px;
        color: $subTextColor;
      }
    }
    .storeLine2 {
      display: flex;
      color: $subTextColor;
      font-size: 14px;
      .storeMeter {
        padding-right: 8px;
      }
      .storeAdderss {
      }
    }
    .storePaymentMethod {
      display: flex;
      align-items: center;
      padding-top: 16px;
      img {
        height: 38px;
        padding-right: 6px;
      }
    }
  }
}

@include tablet {
  .storeArticle {
    border-bottom: 1px solid rgba(219, 222, 232, 0.6);
    padding: 20px;
    &:hover {
      background: #f5f7ff;
    }
    .storeLine1 {
      display: flex;
      align-items: flex-end;
      .storeName {
        font-size: 18px;
        font-weight: 400;
        padding-right: 6px;
      }
      .storeCategory {
        font-size: 15px;
        color: $subTextColor;
      }
    }
    .storeLine2 {
      display: flex;
      color: $subTextColor;
      font-size: 14px;
      .storeMeter {
        padding-right: 8px;
      }
      .storeAdderss {
      }
    }
    .storePaymentMethod {
      display: flex;
      align-items: center;
      padding-top: 16px;
      img {
        height: 38px;
        padding-right: 6px;
      }
    }
  }
}

@include desktop {
  .storeArticle {
    border-bottom: 1px solid rgba(219, 222, 232, 0.6);
    padding: 1vw 2.08vw;
    &:hover {
      background: #f5f7ff;
    }
    .storeLine1 {
      display: flex;
      align-items: flex-end;
      .storeName {
        font-size: 0.92vw;
        font-weight: 400;
        padding-right: 0.34vw;
      }
      .storeCategory {
        font-size: 0.8vw;
        color: $subTextColor;
      }
    }
    .storeLine2 {
      display: flex;
      color: $subTextColor;
      font-size: 0.76vw;
      .storeMeter {
        padding-right: 0.42vw;
      }
    }
    .storePaymentMethod {
      display: flex;
      align-items: center;
      padding-top: 0.84vw;
      img {
        width: 2.28vw;
        padding-right: 0.34vw;
      }
    }
  }
}
