$mainColor: #4e77fb;
$subTextColor: #707070;
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

@mixin line0 {
  color: #4e77fb;
  font-size: 25px;
  font-weight: 400;
}

@mixin line1 {
  font-weight: 400;
  padding-top: 12px;
}

@mixin line2 {
  color: $subTextColor;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

@mixin mobile {
  @media all and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: ($mobile+1)) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}
