$mainColor: #4e77fb;
$subTextColor: #707070;
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
// font ( size | weight | color ), line-height
@mixin textSize($size, $weight, $color, $line-height) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
}
// width, heigth
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

// Flex
@mixin flex-row {
  display: flex;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row-pos($justify: flex-start, $align: stretch) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin flex-column-pos($justify: flex-start, $align: stretch) {
  @include flex-column;
  justify-content: $justify;
  align-items: $align;
}
// 서비스 페이지
@mixin line0 {
  color: #4e77fb;
  font-size: 25px;
  font-weight: 400;
}
@mixin line1 {
  font-weight: 400;
  padding-top: 12px;
}
@mixin line2 {
  color: $subTextColor;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
// 반응형
@mixin mobile {
  @media all and (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media all and (min-width: ($mobile + 1)) and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}
