@import '../style/utils';

@include mobile {
  #betaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 500px; // 시작되면 500으로
    padding-top: 60px;
    #betaText {
      color: white;
      h1 {
        font-size: 28px;
        font-weight: 400;
        padding-bottom: 12px;
      }
      h4 {
        font-size: 14px;
        font-weight: 400;
        line-height: 145%;
      }
    }
    button {
      display: block;
      border: none;
      color: white;
      background: black;
      border-radius: 12px;
      padding: 10px 50px;
      margin: 0 auto;
    }
    img {
      width: 221px;
      margin: 0 auto;
    }
  }
}

@include tablet {
  #betaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 600px;
    padding-top: 40px;
    #betaText {
      color: white;

      h1 {
        font-size: 40px;
        font-weight: 400;
        padding-bottom: 20px;
      }
      h4 {
        font-size: 17px;
        font-weight: 400;
        line-height: 145%;
      }
    }
    button {
      display: block;
      border: none;
      color: white;
      background: black;
      border-radius: 12px;
      padding: 10px 60px;
      margin: 0 auto;
    }
    img {
      width: 350px;
      margin: 0 auto;
    }
  }
}

@include desktop {
  #betaContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20vw;
    padding-top: 20px;
    height: 20vw;
    color: white;
    #betaText {
      padding-bottom: 1vw;
      h1 {
        font-size: 2.9vw;
        font-weight: 400;
        padding-bottom: 1vw;
      }
      h4 {
        font-size: 0.94vw;
        font-weight: 400;
        line-height: 145%;
      }
    }
    button {
      padding: 0.6vw 0;
      font-size: 0.9vw;
      border: none;
      color: white;
      background: black;
      border-radius: 0.8vw;
      width: 8.4vw;
    }
    img {
      width: 20vw;
      position: absolute;
      right: 20vw;
      bottom: 0;
    }
  }
}

#betaContainer {
  width: 100vw;
  background: linear-gradient(92.21deg, #4e77fb 0%, #83b8fd 106.42%);
}
