@import '../../utils';

@include mobile {
  #main6Container {
    @include flex-column;
    text-align: center;
    #main6_line1 {
      @include textStyle(2.5rem, 400, #23252d, 135%);
    }
    #main6_line2 {
      @include textStyle(1.7rem, 400, $subTextColor, 150%);
      margin: 2rem 0 4rem 0;
    }
    #mobileBtnSecond {
      display: none;
    }
  }
}

@include tablet {
  #main6Container {
    @include flex-column-pos('', center);
    text-align: center;
    #main6_line1 {
      @include textStyle(2.8rem, 400, #3f4353, 137%);
    }
    #main6_line2 {
      @include textStyle(1.8rem, 400, $subTextColor, 135%);
      margin: 2rem 0 4rem 0;
    }
  }
}

@include desktop {
  #main6Container {
    @include flex-column-pos('', center);
    text-align: center;
    #main6_line1 {
      @include textStyle(4rem, 400, #3f4353, 137%);
    }
    #main6_line2 {
      @include textStyle(2.4rem, 400, $subTextColor, 3.1rem);
      margin: 2rem 0 5.2rem 0;
    }
  }
}
