@import '../../utils';

@include mobile {
  #footer {
    width: 100vw;
    background: #3f4353;
    padding: 4.8rem 5vw;
    #footerContainer {
      @include flex-column;
      @include textStyle(1.4rem, 400, #9fa1a9, 2rem);
      color: white;
      opacity: 0.5;
      #footer_line1 {
        #footerLogo {
          width: 100px;
        }
        #footerList {
          .footerItem {
            padding: 0.2rem 0;
            a {
              color: white;
            }
            &:first-child {
              margin-top: 2.4rem;
            }
            &:last-child {
              margin-bottom: 2.4rem;
            }
          }
        }
      }
      #footer_line2 {
        @include textStyle(1.4rem, 400, #6e717d, 1.8rem);
      }
    }
  }
}

@include tablet {
  #footer {
    width: 100vw;
    background: #3f4353;
    padding: 4.8rem 5vw;
    #footerContainer {
      @include flex-column;
      color: white;
      opacity: 0.5;
      #footer_line1 {
        @include flex-row-pos(space-between, '');
        #footerLogo {
          width: 10rem;
        }
        #footerList {
          @include flex-row;
          .footerItem {
            padding-right: 1rem;
            a {
              color: white;
            }
            &:last-child {
              border: none;
            }
            &:not(:last-child) {
              &:after {
                content: '';
                height: 100%;
                border-right: 1px solid #9fa1a9;
                margin-left: 1rem;
              }
            }
          }
        }
      }
      #footerHr {
        margin: 2.4rem 0;
        border: 1px solid rgba(120, 123, 134, 0.5);
      }
      #footer_line2 {
        @include textStyle(1.5rem, 400, #6e717d, 2rem);
      }
    }
  }
}

@include desktop {
  #footer {
    @include flex-column-pos(center, '');
    height: 280px;
    background: #3f4353;
    padding: 0 18.75vw;
    #footerContainer {
      @include flex-column;
      color: #9fa1a9;
      #footer_line1 {
        font-size: 0.84vw;
        #footerLogo {
          width: 13rem;
          opacity: 0.5;
        }
        #footerList {
          @include textStyle(1.5rem, 400, #9fa1a9, 2.1rem);
          @include flex-row;
          float: right;
          .footerItem {
            border-right: 1px solid rbga(120, 123, 134, 0.5);
            &:not(:last-child) {
              margin-right: 15px;
            }
            a {
              color: #9fa1a9;
            }
            &:last-child {
              border: none;
            }
            &:not(:last-child) {
              &:after {
                display: inline-block;
                content: '';
                background: #9fa1a9;
                width: 0.1px;
                height: 1.2rem;
                margin-left: 1.5rem;
              }
            }
          }
        }
      }
      #footerHr {
        height: 1px;
        margin: 2rem 0;
        border: none;
        background: rgba(120, 123, 134, 0.5);
      }
      #footer_line2 {
        @include textStyle(1.5rem, 400, #6e717d, 2rem);
      }
    }
  }
}
