@import '../../utils';

@include mobile {
  #footer {
    width: 100vw;
    background: #3f4353;
    padding: 48px 5vw;
    #footerContainer {
      display: flex;
      flex-direction: column;
      color: white;
      opacity: 0.5;
      #footer_line1 {
        #footerLogo {
          width: 100px;
        }
        #footerList {
          .footerItem {
            padding: 2px 0;
            a {
              color: white;
            }
            &:first-child {
              padding-top: 24px;
            }
            &:last-child {
              padding-bottom: 24px;
            }
          }
        }
      }
      #footer_line2 {
        font-weight: 400;
      }
    }
  }
}

@include tablet {
  #footer {
    width: 100vw;
    background: #3f4353;
    padding: 48px 5vw;
    #footerContainer {
      display: flex;
      flex-direction: column;
      color: white;
      opacity: 0.5;
      #footer_line1 {
        display: flex;
        justify-content: space-between;
        #footerLogo {
          width: 100px;
        }
        #footerList {
          display: flex;
          .footerItem {
            padding-right: 10px;
            a {
              color: white;
            }
            &:last-child {
              border: none;
            }
            &:not(:last-child) {
              &:after {
                content: '';
                height: 100%;
                border-right: 1px solid #9fa1a9;
                padding-left: 10px;
              }
            }
          }
        }
      }
      #footerHr {
        margin: 24px 0;
      }
      #footer_line2 {
        font-weight: 400;
      }
    }
  }
}

@include desktop {
  #footer {
    height: 245px;
    background: #3f4353;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      float: left;
    }
    #footerContainer {
      display: flex;
      flex-direction: column;
      color: #9fa1a9;
      #footer_line1 {
        font-size: 0.84vw;
        #footerLogo {
          width: 5.2vw;
          opacity: 0.5;
        }
        #footerList {
          display: flex;
          float: right;
          font-size: 0.78vw;
          .footerItem {
            border-right: 1px solid rbga(120, 123, 134, 0.5);
            margin-right: 15px;
            a {
              color: #9fa1a9;
            }
            &:last-child {
              border: none;
            }
            &:not(:last-child) {
              &:after {
                display: inline-block;
                content: '';
                background: #9fa1a9;
                width: 0.1px;
                height: 12px;
                margin-left: 15px;
              }
            }
          }
        }
      }
      #footerHr {
        height: 1px;
        margin: 2rem 0;
        border: none;
        background: rgba(120, 123, 134, 0.5);
      }
      #footer_line2 {
        font-weight: 400;
        font-size: 0.83vw;
      }
    }
  }
}
