@import '../../utils';

@include mobile {
  #main2Container {
    display: flex;
    flex-direction: column;
    #main2_lineTop {
      color: $subTextColor;
      font-size: 18px;
      text-align: center;
      font-weight: 400;
      padding-bottom: 28px;
    }
    #storeInquiry {
      padding: 0 5vw;
      .line0TitleContainer {
        display: flex;
        align-items: flex-end;
        img {
          height: 28px;
        }
        #main2_line0_top {
          color: $mainColor;
          font-weight: 400;
          font-size: 16px;
        }
      }
      #main2_line1_top {
        font-size: 23px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 12px;
        padding-top: 8px;
      }
      #main2_line2_top {
        color: $subTextColor;
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 52px;
      }
    }
    #main2_mockupImg_top {
      margin: 0 auto;
      padding-bottom: 105px;
    }
    #main2background {
      height: 820px;
      background: rgba(244, 245, 250, 0.8);
      #main2contentContainer_bottom {
        width: 100vw;
        padding: 80px 5vw 0 5vw;
        .line0TitleContainer {
          display: flex;
          align-items: baseline;
          #main2_line0_bottom {
            color: $mainColor;
            font-size: 16px;
            font-weight: 400;
          }
        }
        #main2_line1_bottom {
          color: #3f4353;
          font-weight: 400;
          font-size: 23px;
          padding: 8px 0 12px 0;
          line-height: 32px;
        }
        #main2_line2_bottom {
          color: $subTextColor;
          font-size: 16px;
          line-height: 21px;
          padding-bottom: 50px;
        }
        #main2_mockupImg_bottom {
          margin: 0 auto;
        }
      }
    }
  }
}

@include tablet {
  #main2Container {
    #main2_lineTop {
      @include line2;
      font-size: 24px;
      text-align: center;
      padding: 72px 0 36px 0;
    }
    #storeInquiry {
      float: right;
      padding-right: 13vw;
      padding-top: 150px;
      .line0TitleContainer {
        display: flex;
        align-items: flex-end;
        #main2_line0_top {
          @include line0;
          font-size: 2.4vw;
        }
      }
      #main2_line1_top {
        @include line1;
        font-size: 3.4vw;
        line-height: 4.6vw;
      }
      #main2_line2_top {
        @include line2;
        font-size: 1.95vw;
        line-height: 2.6vw;
      }
    }
    #main2_mockupImg_top {
      margin-left: 11vw;
      width: 29.6vw;
    }

    #main2background {
      position: relative;
      margin-top: 160px;
      background: #f4f5fa;
      height: 61vw;
      #main2contentContainer_bottom {
        // float: left;
        padding: 17vw 0 0 11vw;
        .line0TitleContainer {
          display: flex;
          align-items: baseline;
          #main2_line0_bottom {
            @include line0;
            font-size: 3.4vw;
            line-height: 4.6vw;
          }
        }
        #main2_line1_bottom {
          @include line1;
          font-size: 3.4vw;
          line-height: 4.6vw;
        }
        #main2_line2_bottom {
          @include line2;
          font-size: 1.95vw;
          line-height: 2.6vw;
        }
      }
    }
    #main2_mockupImg_bottom {
      margin-right: 10vw;
      width: 29.6vw;
      position: absolute;
      right: 0;
      bottom: 12vw;
    }
  }
}

@include desktop {
  #main2Container {
    #main2_lineTop {
      @include line2;
      font-size: 1.25vw;
      text-align: center;
      padding: 5.7vw 0 3.4vw 0;
    }
    .functionContainer {
      display: flex;
      justify-content: space-between;
      padding: 0 24vw;
      .appScreenImg {
        width: 20vw;
      }
      .functionIntroContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .functionTitle {
          display: flex;
          align-items: flex-end;
          img {
            padding-right: 6px;
          }
          h1 {
            @include line0;
            font-size: 1.3vw;
          }
        }
        .functionLine1 {
          @include line1;
          font-size: 2.1vw;
          line-height: 2.7vw;
        }
        .functionLine2 {
          @include line2;
          font-size: 1vw;
          line-height: 1.25vw;
          padding-bottom: 3.76vw;
        }
        .appScreenInquiryImg {
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
          border-radius: 16px;
          margin: 9px 0;
          width: 21.7vw;
        }
      }
    }
    #paymentFeedback {
      background: linear-gradient(
        252.25deg,
        rgba(244, 245, 250, 0.8) 0%,
        rgba(244, 245, 250, 0.208) 48.86%,
        rgba(244, 245, 250, 0.8) 100%
      );
    }

    #main2background {
      position: relative;
      background: #f4f5fa;
      width: 62.15vw;
      height: 35.15vw;
      border-radius: 60px;
      margin: 13vw 0 0 19vw;
      #main2contentContainer_bottom {
        padding: 9.7vw 0 0 7.2vw;
        .line0TitleContainer {
          display: flex;
          align-items: baseline;
          #main2_line0_bottom {
            @include line0;
            font-size: 1.3vw;
          }
        }
        #main2_line1_bottom {
          @include line1;
          font-size: 2.1vw;
          line-height: 2.7vw;
        }
        #main2_line2_bottom {
          @include line2;
          font-size: 1vw;
          line-height: 1.25vw;
        }
      }
    }
    #main2_mockupImg_bottom {
      position: absolute;
      width: 20vw;
      height: 39.8vw;
      top: -6vw;
      right: 5vw;
    }
  }
}
