@import '../../utils';

@include mobile {
  #main3Container {
    @include flex-column;
    #main3title {
      @include textStyle(2.5rem, 400, #23252d, 135%);
      text-align: center;
      margin: 7rem 0 2rem 0;
    }
    #memberSlider {
      @include flex-row;
      overflow-x: scroll;
    }
    #memberProgressContainer {
      background: #ecf0f3;
      width: 90vw;
      height: 4px;
      margin: 5rem 0 11rem 5vw;
      #progressBar {
        width: 10vw;
        height: 4px;
        position: absolute;
        margin-left: 5vw;
        left: 0;
        background: $mainColor;
      }
    }
  }
}

@include tablet {
  #main3Container {
    @include flex-column;
    #main3title {
      @include textStyle(3.5rem, 400, #23252d, 135%);
      margin: 2rem 0 7rem 0;
      text-align: center;
    }
    #memberSlider {
      @include flex-row;
      overflow-x: scroll;
    }
    #memberProgressContainer {
      background: #ecf0f3;
      width: 90vw;
      height: 4px;
      margin: 6rem 0 15rem 5vw;
      #progressBar {
        width: 10%;
        height: 4px;
        position: absolute;
        margin-left: 5vw;
        left: 0;
        background: #4e77fb;
      }
    }
  }
}

@include desktop {
  #main3Container {
    @include flex-column;
    #main3title {
      @include textStyle(5rem, 400, #3f4353, 135%);
      margin: 20rem 0 8rem 0;
      text-align: center;
    }
    #memberSlider {
      @include flex-row;
      overflow-x: scroll;
    }
    #memberProgressContainer {
      background: #ecf0f3;
      width: 60vw;
      margin: 4.7vw 0 0 18.75vw;
      margin: 8.8rem 0 20rem 18.75vw;
      height: 4px;
      #progressBar {
        width: 10%;
        height: 4px;
        position: absolute;
        margin-left: 18.75vw;
        left: 0;
        background: #4e77fb;
      }
    }
  }
}

#memberSlider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
