@import '../../utils';

@include mobile {
  #main2Container {
    display: flex;
    flex-direction: column;
    #main2_lineTop {
      @include line2;
      text-align: center;
      padding: 5.7vw 0 3.4vw 0;
    }
    .functionContainer {
      display: flex;
      flex-direction: column;
      padding: 50px 5vw;
      .appScreenImg {
        width: 260px;
        margin: 0 auto;
        margin-top: 52px;
      }
      .functionIntroContainer {
        display: flex;
        flex-direction: column;
        .functionTitleContainer {
          display: flex;
          align-items: baseline;
          img {
            padding-right: 10px;
            width: 34px;
          }
          #feedbackIcon {
            width: 30px;
          }
          #registrationIcon {
            width: 48px;
          }
          .functionTitle {
            @include line0;
            font-size: 16px;
          }
        }
        #fTC1 {
          align-items: flex-end;
        }
        .functionLine1 {
          @include line1;
          font-size: 23px;
          line-height: 31px;
        }
        .functionLine2 {
          @include line2;
          font-size: 16px;
          line-height: 21px;
        }

        #regStepContainer {
          #stepNumContainer {
            display: flex;
            text-align: center;
            margin-top: 20px;
            .stepNum {
              position: relative;
              border: 2px solid $mainColor;
              width: 32px;
              height: 32px;
              line-height: 28px;
              border-radius: 50%;
              color: $mainColor;
              margin: 0 15px;
              &:nth-child(1),
              &:nth-child(2) {
                &::after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  background: $mainColor;
                  width: 96px;
                  height: 2px;
                  margin-left: 12px;
                }
              }
              &:nth-child(2) {
                margin: 0 80px;
              }
            }
          }
          #stepTextContainer {
            display: flex;
            .stepText {
              @include line2;
              font-size: 15px;
              &:nth-child(2) {
                margin: 0 53px 0 40px;
              }
            }
          }
        }
      }
      #appScreenPreviewImgFirst {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .appScreenPreviewImg {
        width: 300px;
        border-radius: 10px;
        box-shadow: 0px 1px 6px rgb(0 0 0 / 16%);
        margin: 0 auto;
      }
      #appScreenFeedbackImg {
        width: 300px;
        height: 320px;
        margin: 0 auto;
        margin-top: 30px;
      }
      #appScreenStoreRegImgBox {
        position: relative;
        background: $mainColor;
        width: 330px;
        height: 360px;
        border-radius: 40px;
        margin: 0 auto;
        margin-top: 52px;
        img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 260px;
          height: 325px;
          margin: 0 auto;
        }
      }
    }
    #paymentFeedback {
      background: linear-gradient(
        252.25deg,
        rgba(244, 245, 250, 0.8) 0%,
        rgba(244, 245, 250, 0.208) 48.86%,
        rgba(244, 245, 250, 0.8) 100%
      );
    }
  }
}

@include tablet {
  #main2Container {
    #main2_lineTop {
      @include line2;
      font-size: 2.6vw;
      text-align: center;
      padding: 5.7vw 0 3.4vw 0;
    }
    .functionContainer {
      display: flex;
      justify-content: space-between;
      padding: 100px 10vw;
      .appScreenImg {
        width: 33vw;
      }
      .functionIntroContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .functionTitleContainer {
          display: flex;
          align-items: baseline;
          img {
            padding-right: 6px;
            height: 3.2vw;
          }
          .functionTitle {
            @include line0;
            font-size: 2.6vw;
          }
        }
        #fTC1 {
          align-items: flex-end;
        }
        .functionLine1 {
          @include line1;
          font-size: 3.65vw;
          line-height: 4.9vw;
        }
        .functionLine2 {
          @include line2;
          font-size: 2.34vw;
          line-height: 3vw;
          padding-bottom: 3.76vw;
        }
        .appScreenPreviewImg {
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
          border-radius: 10px;
          margin: 9px 0;
          width: 38vw;
        }
        #regStepContainer {
          #stepNumContainer {
            display: flex;
            text-align: center;
            margin-top: 20px;
            .stepNum {
              position: relative;
              border: 2px solid $mainColor;
              width: 32px;
              height: 32px;
              line-height: 26px;
              border-radius: 50%;
              color: $mainColor;
              margin: 0 15px;
              &:nth-child(1),
              &:nth-child(2) {
                &::after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  background: $mainColor;
                  width: 146px;
                  height: 2px;
                  margin-left: 12px;
                }
              }
              &:nth-child(2) {
                margin: 0 130px;
              }
            }
          }
          #stepTextContainer {
            display: flex;
            .stepText {
              @include line2;
              font-size: 15px;
              &:nth-child(2) {
                margin: 0 103px 0 92px;
              }
            }
          }
        }
      }
      #appScreenStoreRegImgBox {
        position: relative;
        background: $mainColor;
        // width: 81vw;
        width: 536px;
        // height: 70vw;
        height: 520px;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 60px;
        img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 60%;
          width: 384px;
          // height: 730px;
        }
      }
    }
    #storeRegistration {
      flex-direction: column;
    }
    #paymentFeedback {
      background: linear-gradient(
        252.25deg,
        rgba(244, 245, 250, 0.8) 0%,
        rgba(244, 245, 250, 0.208) 48.86%,
        rgba(244, 245, 250, 0.8) 100%
      );
    }
  }
}

@include desktop {
  #main2Container {
    #main2_lineTop {
      @include line2;
      font-size: 1.25vw;
      text-align: center;
      padding: 5.7vw 0 3.4vw 0;
    }
    .functionContainer {
      display: flex;
      justify-content: space-between;
      padding: 100px 20vw;
      .appScreenImg {
        width: 20vw;
      }
      .functionIntroContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .functionTitleContainer {
          display: flex;
          align-items: baseline;
          img {
            padding-right: 6px;
          }
          .functionTitle {
            @include line0;
            font-size: 1.3vw;
          }
        }
        #fTC1 {
          align-items: flex-end;
        }
        .functionLine1 {
          @include line1;
          font-size: 2.1vw;
          line-height: 2.7vw;
        }
        .functionLine2 {
          @include line2;
          font-size: 1vw;
          line-height: 1.25vw;
          padding-bottom: 3.76vw;
        }
        .appScreenPreviewImg {
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
          border-radius: 16px;
          margin: 9px 0;
          width: 21.7vw;
        }
        #regStepContainer {
          display: flex;
          flex-direction: column;
          #stepNumContainer {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding: 0 1.1vw 0 1.3vw;
            .stepNum {
              position: relative;
              border: 1px solid $mainColor;
              width: 1.8vw;
              height: 1.8vw;
              border-radius: 50%;
              color: $mainColor;
              font-size: 1.05vw;
              &:nth-child(1),
              &:nth-child(2) {
                &::after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  margin-left: 0.6vw;
                  background: $mainColor;
                  width: 7.3vw;
                  height: 1px;
                }
              }
              &:nth-child(1) {
                &::after {
                  margin-left: 0.6vw;
                }
              }
            }
          }
          #stepTextContainer {
            display: flex;
            justify-content: space-between;
            .stepText {
              @include line2;
              font-size: 1vw;
            }
          }
        }
      }
      #appScreenStoreRegImgBox {
        position: relative;
        background: $mainColor;
        width: 31vw;
        height: 28vw;
        border-radius: 60px;
        img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 60%;
        }
      }
    }
    #paymentFeedback {
      background: linear-gradient(
        252.25deg,
        rgba(244, 245, 250, 0.8) 0%,
        rgba(244, 245, 250, 0.208) 48.86%,
        rgba(244, 245, 250, 0.8) 100%
      );
    }
  }
}
