@import '../../utils';

@include mobile {
  #main1Container {
    padding-top: 4rem;
    .contentContainer {
      @include flex-column;
      text-align: center;
      #main1_line1 {
        @include textStyle(2.5rem, 400, #23252d, 135%);
        padding-bottom: 2rem;
      }
      #main1_line2 {
        @include textStyle(1.6rem, 400, #4d4d4d, 145%);
      }
    }
    #appScreenMain {
      width: 37.5rem;
      filter: none;
    }
  }
}

@include tablet {
  #main1Container {
    @include flex-column;
    padding-top: 8.8rem;
    align-items: center;
    .contentContainer {
      padding-bottom: 7rem;
      text-align: center;
      #main1_line1 {
        @include textStyle(4rem, 400, #23252d, 135%);
      }
      #main1_line2 {
        @include textStyle(1.8rem, 400, $subTextColor, 150%);
        padding-top: 2.4rem;
      }
    }
    #appScreenMain {
      width: 56.8rem;
    }
  }
}

@include desktop {
  #main1Container {
    @include flex-row-pos(center, center);
    padding-top: 11rem;
    .contentContainer {
      padding-top: 8rem;
      #main1_line1 {
        @include textStyle(6rem, 400, #23252d, 138%);
      }
      #main1_line2 {
        @include textStyle(2rem, 400, $subTextColor, 150%);
        padding-top: 2.4rem;
      }
    }
    #appScreenMain {
      width: 54.9rem;
    }
  }
}
