@import '../../utils';

@include mobile {
  #logoContainer {
    display: flex;
    flex-direction: column;
    padding: 3.2rem 0 2.4rem;
    li {
      height: 4.8rem;
      line-height: 4.8rem;
      .mobileStoreBtn {
        @include flex-row-pos(center, center);
        @include width-height(23rem, 100%);
        margin: 0 auto;
        border-radius: 10px;
        background: $mainColor;
        @include textSize(1.7rem, 400, #ffffff, 2.4rem);
        svg {
          padding-right: 8px;
        }
      }
      #mobileBtnSecond {
        @include textSize(1.5rem, 400, $mainColor, 2.1rem);
        background: none;
      }
      &:nth-child(2) {
        height: 2.1rem;
        line-height: 2.1rem;
        margin-top: 2.1rem;
      }
    }
  }
}

@include tablet {
  #logoContainer {
    @include flex-row-pos(center, center);
    padding: 4.8rem 0 1rem 0;
    li {
      .storeBtn {
        @include flex-row-pos(center, center);
        @include width-height(17.2rem, 5.6rem);
        @include textSize(1.7rem, 400, #ffffff, 2.4rem);
        background: #23252d;
        border-radius: 10px;
        img {
          @include width-height(2.4rem, 2.4rem);
        }
        p {
          padding-left: 0.4rem;
        }
      }
      &:first-child {
        margin-right: 1.2rem;
      }
    }
  }
}

@include desktop {
  #logoContainer {
    @include flex-row-pos(flex-start, center);
    padding: 5.7rem 0 19.2rem 0;
    li {
      .storeBtn {
        @include flex-row-pos(center, center);
        @include width-height(16.7rem, 6rem);
        @include textSize(1.7rem, 400, #ffffff, 2.4rem);
        background: #23252d;
        border-radius: 10px;
        img {
          @include width-height(2.4rem, 2.4rem);
        }
        p {
          padding-left: 0.4rem;
        }
      }
      &:first-child {
        margin-right: 0.8rem;
      }
    }
  }
}
