@import '../utils';

@include mobile {
  #mobileMain {
    width: 100vw;
    height: calc(100vh - 60px);
  }
}

@include tablet {
  #mobileMain {
    width: 100vw;
  }
}

@include desktop {
  #mobileMain {
    width: 75vw;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    right: 0;
  }
}
