.markerContainer {
  display: flex;
  justify-content: center;
  .markerText {
    display: none;
  }
}

.markerContent {
  // border: 1px solid red !important;
  padding: 24px 28px;
  width: 360px;
  height: 220px;
  box-shadow: 0 0 8px 2px rgb(197, 197, 197) !important;
  border-radius: 10px;
}

div {
  border-color: white transparent transparent !important;
}
