.markerContainer {
  display: flex;
  justify-content: center;
  .markerText {
    display: none;
  }
}
.bigMarker {
  width: 100px;
  height: 100px;
}

#map {
  div {
    border-color: white transparent transparent !important;
    div {
      div {
        div {
          div {
            div {
              div {
                div {
                  div {
                    box-shadow: 0 0 8px 2px rgb(197, 197, 197);
                    border-radius: 10px;
                  }
                  &:nth-child(2) {
                    filter: drop-shadow(
                      0 4px 4px rgb(197, 197, 197)
                    ) !important;
                    border-width: 12.5px 7.5px !important;
                  }
                  &:nth-child(3) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
