@import '../utils';

@include mobile {
  #searchCriteriaBtn {
    @include flex-row-pos('', center);
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    background: white;
    border: none;
    padding: 1rem 1.8rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    img {
      width: 1.4rem;
      margin: 0.2rem 0.8rem 0 0;
    }
    p {
      @include textStyle(1.6rem, 400, $mainColor, 2.1rem);
      margin-top: 4px;
    }
  }
  #locationPin {
    @include transformCenter;
  }
}

@include tablet {
  #searchCriteriaBtn {
    @include flex-row-pos('', center);
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    background: white;
    border: none;
    padding: 1rem 1.8rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    img {
      width: 1.4rem;
      margin: 0.2rem 0.8rem 0 0;
    }
    p {
      @include textStyle(1.6rem, 400, $mainColor, 2.1rem);
      margin-top: 0.4rem;
    }
  }
  #locationPin {
    @include transformCenter;
  }
}

@include desktop {
  #searchCriteriaBtn {
    @include flex-row-pos('', center);
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    background: white;
    border: none;
    padding: 1rem 1.8rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    img {
      width: 1.4rem;
      margin: 0.2rem 0.8rem 0 0;
    }
    p {
      @include textStyle(1.6rem, 400, $mainColor, 2.2rem);
      font-family: 'Noto Sans KR', sans-serif;
    }
  }
  #locationPin {
    position: absolute;
    left: 50%;
    top: calc(50% - 60px);
    transform: translate(-50%, calc(50% - 60px));
  }
}
