@import '../utils';

@include mobile {
  #policyContainer {
    padding: 0 5vw;
  }
}

@include tablet {
  #policyContainer {
    padding: 0 5vw;
  }
}

@include desktop {
  #policyContainer {
    padding: 0 18.75vw;
  }
}

#policyContainer {
  #policyTitle {
    font-size: 28px;
    font-weight: 400;
    padding: 16px 0;
  }
  hr {
    margin-bottom: 32px;
    border: 1px solid #e6e6e6;
  }
  .clauseTitle {
    font-size: 22px;
    font-weight: 400;
    table {
      border-spacing: 0;
      width: 100%;
      margin: 32px 0;
      table-layout: fixed;
      td,
      th {
        border: 1px solid #e6e6e6;
        font-size: 15.6px;
        font-weight: 400;
        color: $subTextColor;
        text-align: center;
        padding: 12px 20px;
      }
      th {
        border-bottom: none;
        color: black;
        background: #f7f7f7;
      }
    }
    .tableName {
      font-size: 18px;
      font-weight: 400;
      padding-top: 24px;
      color: black;
    }
    .tableLongitudinal {
      border-bottom: 1px solid #e6e6e6;
      margin: 16px 0 24px 0;
      th {
        border-right: none;
      }
      td {
        border-bottom: none;
      }
    }
  }
  p {
    font-size: 15px;
    line-height: 24.8px;
    font-weight: 400;
    color: $subTextColor;
    &:first-child {
      padding-top: 8px;
    }
    &:last-child {
      padding-bottom: 40px;
    }
  }
  .tab {
    padding: 16px 0 0 28px;
    p {
      padding-bottom: 16px;
    }
    .tabFontBlack {
      color: black;
      padding-bottom: 4px;
    }
  }
  ul {
    padding: 10px 0 10px 30px;
    li {
      list-style: disc;
      &::before {
        font-size: 10px;
      }
    }
  }
}
