@import '../utils.scss';

// 공통
.mockupImg {
  filter: drop-shadow(-15px 0px 10px rgb(185, 184, 184));
}
.titleImg {
  padding: 0 5px 1px 0;
  &:last-child {
    width: 16px;
    height: 14px;
    padding-top: 2px;
  }
}
#main1_mockupImg {
  filter: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.line0_Img {
  float: left;
  padding-right: 8px;
}
@keyframes progressing {
  0% {
    left: 0px;
  }
  100% {
    left: 1030px;
  }
}

// 모바일
@include mobile {
  .mockupImg {
    display: block;
    width: 250px;
  }
  #mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    #main1Container {
      padding-top: 50px;
      .contentContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        #main1_line1 {
          padding-bottom: 20px;
          font-size: 25px;
          color: #23252d;
          line-height: 34px;
        }
        #main1_line2 {
          font-size: 16px;
          color: #4d4d4d;
          line-height: 23px;
          padding: 0 26vw;
        }
      }
      #main1_mockupImg {
        padding-bottom: 88px;
        margin: 0 auto;
      }
    }
    #main2Container {
      display: flex;
      flex-direction: column;
      #main2_lineTop {
        color: $subTextColor;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        padding-bottom: 28px;
      }
      #main2contentContainer_top {
        padding: 0 5vw;
        .line0TitleContainer {
          display: flex;
          align-items: flex-end;
          img {
            height: 28px;
          }
          #main2_line0_top {
            color: $mainColor;
            font-weight: 400;
            font-size: 16px;
          }
        }
        #main2_line1_top {
          font-size: 23px;
          font-weight: 400;
          line-height: 32px;
          padding-bottom: 12px;
          padding-top: 8px;
        }
        #main2_line2_top {
          color: $subTextColor;
          font-size: 16px;
          line-height: 21px;
          padding-bottom: 52px;
        }
      }
      #main2_mockupImg_top {
        margin: 0 auto;
        padding-bottom: 105px;
      }
      #main2background {
        height: 820px;
        background: rgba(244, 245, 250, 0.8);
        #main2contentContainer_bottom {
          width: 100vw;
          padding: 80px 5vw 0 5vw;
          .line0TitleContainer {
            display: flex;
            align-items: baseline;
            #main2_line0_bottom {
              color: $mainColor;
              font-size: 16px;
              font-weight: 400;
            }
          }
          #main2_line1_bottom {
            color: #3f4353;
            font-weight: 400;
            font-size: 23px;
            padding: 8px 0 12px 0;
            line-height: 32px;
          }
          #main2_line2_bottom {
            color: $subTextColor;
            font-size: 16px;
            line-height: 21px;
            padding-bottom: 50px;
          }
          #main2_mockupImg_bottom {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// 태블릿
@include tablet {
  #mainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    #main1Container {
      display: flex;
      flex-direction: column;
      padding-top: 88px;
      align-items: center;
      .contentContainer {
        padding-bottom: 70px;
        text-align: center;
        #main1_line1 {
          @include line1;
          font-size: 4.9vw;
          line-height: 6.6vw;
        }
        #main1_line2 {
          @include line2;
          font-size: 1.96vw;
          line-height: 2.9vw;
          padding-top: 2.3vw;
        }
      }
      #main1_mockupImg {
        width: 41vw;
      }
    }
    #main2Container {
      #main2_lineTop {
        @include line2;
        font-size: 24px;
        text-align: center;
        padding: 72px 0 36px 0;
      }
      #main2contentContainer_top {
        float: right;
        padding-right: 13vw;
        padding-top: 150px;
        .line0TitleContainer {
          display: flex;
          align-items: flex-end;
          #main2_line0_top {
            @include line0;
            font-size: 2.4vw;
          }
        }
        #main2_line1_top {
          @include line1;
          font-size: 3.4vw;
          line-height: 4.6vw;
        }
        #main2_line2_top {
          @include line2;
          font-size: 1.95vw;
          line-height: 2.6vw;
        }
      }
      #main2_mockupImg_top {
        margin-left: 11vw;
        width: 29.6vw;
      }

      #main2background {
        position: relative;
        margin-top: 160px;
        background: #f4f5fa;
        height: 61vw;
        #main2contentContainer_bottom {
          // float: left;
          padding: 17vw 0 0 11vw;
          .line0TitleContainer {
            display: flex;
            align-items: baseline;
            #main2_line0_bottom {
              @include line0;
              font-size: 3.4vw;
              line-height: 4.6vw;
            }
          }
          #main2_line1_bottom {
            @include line1;
            font-size: 3.4vw;
            line-height: 4.6vw;
          }
          #main2_line2_bottom {
            @include line2;
            font-size: 1.95vw;
            line-height: 2.6vw;
          }
        }
      }
      #main2_mockupImg_bottom {
        margin-right: 10vw;
        width: 29.6vw;
        position: absolute;
        right: 0;
        bottom: 12vw;
      }
    }
  }
}

// PC
@include desktop {
  #main1Container,
  #main4,
  #footerContainer {
    padding: 0 20vw;
  }
  .mockupImg {
    width: 384px;
    height: 763px;
  }

  #mainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    #main1Container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contentContainer {
        padding-top: 9vw;
        #main1_line1 {
          @include line1;
          font-size: 3.1vw;
          line-height: 4.2vw;
        }
        #main1_line2 {
          @include line2;
          font-size: 1vw;
          line-height: 1.6vw;
          padding-top: 1.3vw;
        }
      }
      #main1_mockupImg {
        padding-top: 9vw;
        width: 21.6vw;
        height: 100%;
      }
    }
    #main2Container {
      #main2_lineTop {
        @include line2;
        font-size: 1.25vw;
        text-align: center;
        padding: 5.7vw 0 3.4vw 0;
      }
      #main2_mockupImg_top {
        margin-left: 24vw;
        width: 20vw;
        height: 39.8vw;
      }
      #main2contentContainer_top {
        float: right;
        padding: 10.6vw 24vw 0 0;
        .line0TitleContainer {
          display: flex;
          align-items: flex-end;
          #main2_line0_top {
            @include line0;
            font-size: 1.3vw;
          }
        }
        #main2_line1_top {
          @include line1;
          font-size: 2.1vw;
          line-height: 2.7vw;
        }
        #main2_line2_top {
          @include line2;
          font-size: 1vw;
          line-height: 1.25vw;
        }
      }

      #main2background {
        position: relative;
        background: #f4f5fa;
        width: 62.15vw;
        height: 35.15vw;
        border-radius: 60px;
        margin: 13vw 0 0 19vw;
        #main2contentContainer_bottom {
          padding: 9.7vw 0 0 7.2vw;
          .line0TitleContainer {
            display: flex;
            align-items: baseline;
            #main2_line0_bottom {
              @include line0;
              font-size: 1.3vw;
            }
          }
          #main2_line1_bottom {
            @include line1;
            font-size: 2.1vw;
            line-height: 2.7vw;
          }
          #main2_line2_bottom {
            @include line2;
            font-size: 1vw;
            line-height: 1.25vw;
          }
        }
      }
      #main2_mockupImg_bottom {
        position: absolute;
        width: 20vw;
        height: 39.8vw;
        top: -6vw;
        right: 5vw;
      }
    }
  }
}
