@import '../utils.scss';

// 공통
.titleImg {
  padding: 0 5px 1px 0;
  &:last-child {
    width: 16px;
    height: 14px;
    padding-top: 2px;
  }
}
// #main1_mockupImg {
//   filter: none;
// }

.line0_Img {
  float: left;
  padding-right: 8px;
}
@keyframes progressing {
  0% {
    left: 0px;
  }
  100% {
    left: 1030px;
  }
}
