@import '../utils.scss';

// 공통
.mockupImg {
  filter: drop-shadow(-15px 0px 10px rgb(185, 184, 184));
}
.titleImg {
  padding: 0 5px 1px 0;
  &:last-child {
    width: 16px;
    height: 14px;
    padding-top: 2px;
  }
}
#main1_mockupImg {
  filter: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.line0_Img {
  float: left;
  padding-right: 8px;
}
@keyframes progressing {
  0% {
    left: 0px;
  }
  100% {
    left: 1030px;
  }
}

// 모바일
@include mobile {
  #appScreenMain {
    display: block;
    width: 320px;
    // width: 90vw;
    filter: none;
  }
}

// 태블릿
@include tablet {
}

// PC
@include desktop {
  #main1Container,
  #main4,
  #footerContainer {
    padding: 0 20vw;
  }
  .mockupImg {
    width: 384px;
    height: 763px;
  }
}
