$mainColor: #4e77fb;
$subTextColor: #707070;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
