@import './style/utils';

html {
  @include mobile {
    // font-size: 2.66666vw;
    font-size: calc(1.33333vw + 0.61567vh);
  }
  @include tablet {
    // font-size: 1.30208vw;
    font-size: calc(0.65104vw + 0.48828vh);
  }
  @include desktop {
    // font-size: 0.52083333vw;
    font-size: calc(0.26041vw + 0.46296vh);
  }
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
html,
body {
  height: 100%;
  margin: 0;
}
