@import './style/utils';

html {
  @include mobile {
    font-size: 2.666vw;
  }
  @include tablet {
    font-size: 1.303vw;
  }
  @include desktop {
    font-size: 0.52083333vw;
  }
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
html,
body {
  height: 100%;
  margin: 0;
}
